@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

*{
  box-sizing:border-box;
}